@{
}
@model Checkout

<h3>Checkout Now</h3>
<p>Please enter your details, and we get your books shipped to you!</p>

<form method="post" asp-controller="Checkout" asp-action="Correspond">

    <div asp-validation-summary="All" class="list-group-item-danger"></div>
    <h5>Ship To</h5>
    
    <div class="form-group" asp-contoller="Checkout" asp-action="Correspond">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div><br />

    <h5>Address</h5>
    <div class="form-group">
        <label asp-for="AddressLine1">Address Line 1:</label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddreassLine2">Address Line 2:</label>
        <input asp-for="AddreassLine2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine3">Address Line 3:</label>
        <input asp-for="AddressLine3" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State">State:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div>
        <label asp-for="Zip">Zip:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div>
        <label asp-for="Country">Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="btn-check">
        <label>
            <input asp-for="Anonymous" /> Purchase Anonymoudly
        </label>
    </div><br />

    <div class="float-end">
        <input class="btn btn-outline-dark" type="submit" value="Complete Order" />
    </div>

</form>