@page
@model Mission9Bookstore_avz1016.Pages.CheckoutCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your order</h2>
    <a class="btn btn-outline-info" asp-controller="Home">Return Home</a>
</div>